<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" th:href="@{/static/easyui/themes/easy.common.css}"></link>
    <script th:inline="javascript">
        var contextPath = [[@{/}]];
        var interceptorToken = [[${token}]];
        var interceptorUserId = [[${userId}]];
    </script>
    <script th:src="@{/static/easyui/easy.common.js}"></script>
    <script th:src="@{/static/myFun.js}"></script>
    <script th:inline="javascript">
        function addUserShow() {
            $('#manager_add').dialog('open');
            $('#unameAdd').focus();
        }
        function opertUserState(state) {
            var showMsg = '';
            if (state == 0) {
                showMsg = '您确定解冻该用户吗？';
            } else if (state == 1) {
                showMsg = '您确定冻结该用户吗？';
            } else {
                showMsg = '您确定注销该用户吗？';
            }
            var rows = $('#manager').datagrid('getSelections');
            if (rows.length > 0) {
                $.messager.confirm('确定操作', showMsg, function (flag) {
                    if (flag) {
                        var id = rows[0].id;
                        $('#manager').datagrid('loading');
                        var result = ajaxSynchGet("user/userManage/opert", {"id": id, "state": state});
                        $('#manager').datagrid('loaded');
                        alertInfo(result.msg);
                        searchUser();
                    }
                });
            } else {
                alertWarn("请先选择记录！");
            }
        }
        function distriUserAuthShow() {
            var rows = $('#manager').datagrid('getSelections');
            if (rows.length > 0) {
                var id = rows[0].id;
                var result = ajaxSynchGet("user/userManage/getDetail", {"id":id});
                if (result.code == '200') {
                    var uname = result.data.uname;
                    var roleGroupId = result.data.roleGroupId;
                    $('#unameDistriAuth').val(uname);
                    $('#authDistriAuth').combobox('setValue', roleGroupId);
                    $('#manager_distriAuth').dialog('open');
                } else {
                    alertWarn(result.msg);
                }
            } else {
                alertWarn("请先选择记录！");
            }
        }
        function addUserCommit() {
            if ($('#manager_add').form('validate')) {
                var unameAdd = $('#unameAdd').val();
                var passwordAdd = $('#passwordAdd').val();
                var authAdd = $('#authAdd').combobox('getValue');
                if (authAdd == '请选择') {
                    alertWarn('请选择用户角色！');
                } else {
                    var result = ajaxSynchPostJson("user/userManage/add", {"uname":unameAdd, "upwd":passwordAdd, "roleGroupId":authAdd})
                    if (result.code == '200') {
                        alertSuccess();
                        $('#manager_add').dialog('close');
                        searchUser();
                    } else {
                        alertWarn(result.msg);
                    }
                }
            }
        }
        function distriUserAuthCommit() {
            var rows = $('#manager').datagrid('getSelections');
            if (rows.length > 0) {
                var id = rows[0].id;
                var authDistriAuth = $('#authDistriAuth').combobox('getValue');
                var result = ajaxSynchGet("user/userManage/updateRole", {"id":id, "roleId":authDistriAuth});
                if (result.code == '200') {
                    alertSuccess();
                    $('#manager_distriAuth').dialog('close');
                    searchUser();
                } else {
                    alertWarn(result.msg);
                }
            } else {
                alertWarn('操作失败！');
            }
        }

        function searchUser() {
            var result = ajaxSynchPostJson("user/userManage/search", {"uname": $('#unameSearch').val(), "page":1, "rows":10});
            if (result.code == '200') {
                dataGridPageInit();
                $('#manager').datagrid('loadData', result.data);
            } else {
                alertWarn(result.msg);
            }
        }

        function dataGridInit() {
            $('#manager').datagrid({
                fit : true,
                fitColumns : true,
                striped : true,
                rownumbers : true,
                border : false,
                pagination : true,
                singleSelect:true,
                toolbar : '#manager_tool',
                columns : [[
                    {
                        field : 'id',
                        width : 100,
                        hidden : true
                    },
                    {
                        field : 'uname',
                        title : '用户名',
                        width : 100,
                    },
                    {
                        field : 'roleGroupName',
                        title : '所属角色',
                        width : 100,
                    },
                    {
                        field : 'roleGroupId',
                        width : 100,
                        hidden : true
                    },
                    {
                        field : 'userState',
                        title : '状态',
                        width : 100,
                        formatter: function(value,row,index){
                            if (value == 0){
                                return "正常";
                            } else {
                                return "冻结";
                            }
                        }
                    },
                    {
                        field : 'createDate',
                        title : '创建日期',
                        width : 100,
                    }
                ]]
            });
        }
        function dataGridPageInit() {
            var p = $('#manager').datagrid('getPager');
            $(p).pagination({
                pageNumber : 1,
                pageSize : 10,
                pageList : [10, 20, 30, 40, 50],
                onSelectPage:function(pageNumber, pageSize){
                    var result = ajaxSynchPostJson("user/userManage/search", {"uname": $('#uname').val(), "page":pageNumber, "rows":pageSize});
                    if (result.code == '200') {
                        $('#manager').datagrid('loadData', result.data);
                    }
                },
            });
        }

        function webPageInit() {
            var result = ajaxSynchGet("user/roleManage/list", {"roleState": 0});
            if (result.code == '200') {
                $('#authAdd').combobox('loadData',result.data);
                $('#authDistriAuth').combobox('loadData',result.data);
            }
        }

        $(function () {
            dataGridInit();
            searchUser();
            webPageInit();
        });
    </script>
</head>
<body>
<table id="manager">
    <div id="manager_tool">
        <div style="margin-bottom:5px;">
            <a href="#" class="easyui-linkbutton" iconCls="icon-add-green" plain="true" onclick="addUserShow()">新增</a>
            <a href="#" class="easyui-linkbutton" iconCls="icon-edit-yellow" plain="true" onclick="distriUserAuthShow()">分配角色</a>
            <a href="#" class="easyui-linkbutton" iconCls="icon-tip" plain="true" onclick="opertUserState(1)">冻结</a>
            <a href="#" class="easyui-linkbutton" iconCls="icon-ok" plain="true" onclick="opertUserState(0)">启用</a>
            <a href="#" class="easyui-linkbutton" iconCls="icon-cancel" plain="true" onclick="opertUserState(2)">注销</a>
        </div>
        <div style="padding:0 0 0 7px;color:#333;">
            帐号用户名：<input type="text" class="textbox" id="unameSearch" style="width:110px" />
            <a href="#" class="easyui-linkbutton" iconCls="icon-search" onclick="searchUser()">查询</a>
        </div>
    </div>
</table>

<form id="manager_add" class="easyui-dialog" style="margin:0;padding:5px 0 0 25px;color:#333;"
      data-options="top:150,width:320,title:'新增管理',modal:true,closed:true,cache:false,iconCls:'icon-user-add',
       onClose:function () {
            $('#manager_add').form('reset');
       },
		buttons:[{
					text : '提交',
					iconCls : 'icon-add-green',
					handler : function () {
                    addUserCommit();
					}
				},{
					text:'关闭',
					iconCls : 'icon-redo',
					handler:function(){
                    $('#manager_add').dialog('close');
					}
				}]">
    <p>用户名：<input class="easyui-validatebox" data-options="required:true,validType:'length[1,100]',missingMessage:'请输入用户名',invalidMessage:'用户名长度至少为1位'," type="text" id="unameAdd" style="width:200px;" /></p>
    <p>密&nbsp;&nbsp;&nbsp;码：<input class="easyui-validatebox" data-options="required:true,validType:'length[1,100]',missingMessage:'请输入密码',invalidMessage:'密码长度至少为1位'," type="text" id="passwordAdd" style="width:200px;" /></p>
    <p>角&nbsp;&nbsp;&nbsp;色：
        <select class="easyui-combobox" id="authAdd" style="width:100px;" data-options="valueField:'id',textField:'roleName'">
            <option value="请选择" selected="true" />
        </select>
    </p>
</form>

<form id="manager_distriAuth" class="easyui-dialog" style="margin:0;padding:5px 0 0 25px;color:#333;"
      data-options="top:150,width:320,title:'编辑管理',modal:true,closed:true,cache:false,iconCls:'icon-user-add',
       onClose:function () {
            $('#manager_distriAuth').form('reset');
       },
		buttons:[{
					text : '提交',
					iconCls : 'icon-add-green',
					handler : function () {
                    distriUserAuthCommit();
					}
				},{
					text:'关闭',
					iconCls : 'icon-redo',
					handler:function(){
                    $('#manager_distriAuth').dialog('close');
					}
				}]">
    <p>用户名：<input class="easyui-validatebox" type="text" id="unameDistriAuth" style="width:200px;" disabled="disabled" /></p>
    <p>角&nbsp;&nbsp;&nbsp;色：
        <select class="easyui-combobox" id="authDistriAuth" style="width:100px;" data-options="valueField:'id',textField:'roleName'" />
    </p>
</form>
</body>
</html>